---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/Layout.astro';
import ChangeSection from '../components/ChangeSection.astro';
---

<Layout title="Tesla">
	<LandingHeader />

	<main class="snap-y snap-mandatory realtive w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChangeSection />
		</div>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<HeroSection />
		</div>
	</main>
</Layout>