---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/Layout.astro';
import ChangeSection from '../components/ChangeSection.astro';
import Section from '../components/Section.astro';
---

<Layout title="Tesla">
	<LandingHeader />

	<main class="snap-y snap-mandatory realtive w-full h-screen overflow-auto">
		<div class="snap-center">
			<Section color='white' title="Disfruta de Tesla" subtitle="programe una prueba de conducción hoy mismo">
				<div slot='footer'>
					<a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium px-8 py-2 inline-block text-white hover:bg-white hover:text-black transition-colors " href="#">Prueba de conducción</a>
				</div>
				<video 
				slot='background'
				class='object-center object-cover h-full w-full'
				autoplay
				muted
				loop
				src='/video.webm'
				></video>
			</Section>
		</div>
		<div class="snap-center">
			<Section color='black' title="Model-Y" subtitle="Concertar una prueba de conducción">
				<div slot='footer'>
					<div class="flex mx-auto gap-x-6">
						<a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-8 py-2 inline-block text-white hover:bg-gray-500 hover:text-white hover:border-gray-500 transition-colors" href="#">
							Explorar inventario
						</a>
						<a class="bg-white text-sm rounded font-medium px-12 py-2 text-black transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center" href="#">
							Pedido personalizado
						</a>
					</div>
				</div>
				<img 
				slot='background'
				src="/model-y.avif" 
				alt="Model Y image" 
				class="h-full w-full object-cover object-center">
			</Section>
		</div>
		<div class="snap-center">
			<Section color='black' title="Model-Y" subtitle="Concertar una prueba de conducción">
				<div slot='footer'>
					<div class="flex mx-auto gap-x-6">
						<a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-8 py-2 inline-block text-white hover:bg-gray-500 hover:text-white hover:border-gray-500 transition-colors" href="#">
							Explorar inventario
						</a>
						<a class="bg-white text-sm rounded font-medium px-12 py-2 text-black transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center" href="#">
							Pedido personalizado
						</a>
					</div>
				</div>
				<img 
				slot='background'
				src="/model-y.avif" 
				alt="Model Y image" 
				class="h-full w-full object-cover object-center">
			</Section>
		</div>
		<div class="snap-center">
			<Section color='black' title="Model-Y" subtitle="Concertar una prueba de conducción">
				<div slot='footer'>
					<div class="flex mx-auto gap-x-6">
						<a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-8 py-2 inline-block text-white hover:bg-gray-500 hover:text-white hover:border-gray-500 transition-colors" href="#">
							Explorar inventario
						</a>
						<a class="bg-white text-sm rounded font-medium px-12 py-2 text-black transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center" href="#">
							Pedido personalizado
						</a>
					</div>
				</div>
				<img 
				slot='background'
				src="/model-y.avif" 
				alt="Model Y image" 
				class="h-full w-full object-cover object-center">
			</Section>
		</div>
		<div class="snap-center">
			<Section color='black' title="Model-Y" subtitle="Concertar una prueba de conducción">
				<div slot='footer'>
					<div class="flex mx-auto gap-x-6">
						<a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-8 py-2 inline-block text-white hover:bg-gray-500 hover:text-white hover:border-gray-500 transition-colors" href="#">
							Explorar inventario
						</a>
						<a class="bg-white text-sm rounded font-medium px-12 py-2 text-black transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center" href="#">
							Pedido personalizado
						</a>
					</div>
				</div>
				<img 
				slot='background'
				src="/model-y.avif" 
				alt="Model Y image" 
				class="h-full w-full object-cover object-center">
			</Section>
		</div>
	</main>
</Layout>